h1 {
	text-align: center;
}
body{
    background-image: url("../images/fire_water_fist.jpg");
	color:white;
	background-size:cover
}
ul {
    list-style-type: none;
    margin: 0100;
    padding: 0;
}